
#content {
    margin-top: 70px;
    margin-bottom: 50px;
}

.unlink-button {
    color: #d9534f;
}

.unlink-button:hover {
    color: #d9534f;
}

#avatar {
    width: 70px;
    height: 70px;
}

#avatar-nav {
    width: 25px;
    height: 25px;
    margin: -17px 2px -15px 0;
}