<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>social-auth-starter</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="stylesheets/index.css">
</head>
<body>

<!-- Main content -->
<div id="nav"></div>
<div id="content"></div>

<!-- Navigation bar template -->
<script id="nav-template" type="nav-template">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">social-auth-starter</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home" class="nav-tab">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user %}
                    <li class="dropdown">
                        <a href="#me" class="dropdown-toggle nav-tab" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img id="avatar-nav" src="{{user.userAvatar}}"> {{user.userName}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#me">My account</a></li>
                            <li><a href="#logout">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="#login" class="nav-tab">Login</a></li>
                    <li><a href="#create-account" class="nav-tab">Create account</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</script>

<!-- Home template -->
<script id="home-template" type="text/template">
    <div class="container">
        <div class="page-header">
            <h1>social-auth-starter</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor enim nunc. Duis porttitor diam massa, facilisis vulputate ipsum malesuada non.</p>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Heading 1</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a felis sapien. Phasellus venenatis, orci ac placerat convallis, justo mauris efficitur mauris, eu maximus nisi sapien ac turpis. Aenean congue sollicitudin lectus, eget varius risus aliquet id. Morbi hendrerit, dolor eu bibendum tempor, dui ante ornare massa, in fermentum urna nisl quis nisi. Vivamus vitae varius ex, elementum accumsan libero. Pellentesque auctor tellus et sapien ornare accumsan. Nulla urna arcu, lacinia vel nunc sed, mollis malesuada sapien.</p>
            </div>
            <div class="col-md-6">
                <h3>Heading 2</h3>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam a felis sapien. Phasellus venenatis, orci ac placerat convallis, justo mauris efficitur mauris, eu maximus nisi sapien ac turpis. Aenean congue sollicitudin lectus, eget varius risus aliquet id. Morbi hendrerit, dolor eu bibendum tempor, dui ante ornare massa, in fermentum urna nisl quis nisi. Vivamus vitae varius ex, elementum accumsan libero. Pellentesque auctor tellus et sapien ornare accumsan. Nulla urna arcu, lacinia vel nunc sed, mollis malesuada sapien.</p>
            </div>
        </div>
    </div>
</script>

<!-- Me template -->
<script id="me-template" type="text/template">
    <div class="container">
        <div class="page-header">
            <h3>Account information</h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form id="update-account-form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="update-account-email-input">Email</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" id="update-account-email-input" type="email" value="{{user.email}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="update-account-name-input">Name</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" id="update-account-name-input" value="{{user.name}}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Avatar</label>
                        <div class="col-sm-9">
                            <img id="avatar" src="{{user.avatar}}" class="img-responsive">
                        </div>
                    </div>
                    <div class=" form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary btn-sm">Update account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="page-header">
            <h3>Change password</h3>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form id="change-password-form" class="form-horizontal">
                    <div class="form-group">
                        <label for="change-password-new-password-input" class="col-sm-3 control-label">New password</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" type="password" id="change-password-new-password-input" placeholder="New password" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="change-password-confirm-password-input" class="col-sm-3 control-label">Confirm password</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" type="password" id="change-password-confirm-password-input" placeholder="Confirm password" required autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-primary btn-sm">Change password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="page-header">
            <h3>Linked accounts</h3>
        </div>
        {% if user.linkedAccounts.length > 0 %}
        {% for linkedAccount in user.linkedAccounts %}
        <p class="text-primary">
            <i>{{linkedAccount.providerName|capitalize}}</i> ({{linkedAccount.userEmail}})
            <button class="btn btn-xs btn-link unlink-button" data-provider-name="{{linkedAccount.providerName}}">Unlink</button>
        </p>
        {% endfor %}
        {% else %}
        <p>No accounts linked</p>
        {% endif %}
        <div class="page-header">
            <h3>Delete account</h3>
        </div>
        <p>Note that this action is irreversible</p>
        <button class="btn btn-danger btn-sm" id="delete-account-button"><span class="glyphicon glyphicon-trash"></span> Delete my account</button>
    </div>
</script>

<!-- Login template -->
<script id="login-template" type="text/template">
    <div class="container">
        <div class="page-header">
            <h3>Login</h3>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal" id="login-form">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="login-email-input">Email</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" placeholder="Email" type="email" id="login-email-input" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="login-password-input">Password</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" type="password" placeholder="Password" id="login-password-input" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-primary btn-sm" type="submit" id="login-submit-button">Login</button>
                        </div>
                    </div>
                </form>

                <hr>

                <a href="{{authUrls.google}}" class="btn btn-block btn-social btn-google btn-sm">
                    <i class="fa fa-google"></i> Sign in with Google
                </a>
                <a href="{{authUrls.facebook}}" class="btn btn-block btn-social btn-facebook btn-sm">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </a>
                <a href="{{authUrls.github}}" class="btn btn-block btn-social btn-github btn-sm">
                    <i class="fa fa-github"></i> Sign in with Github
                </a>
                <a href="{{authUrls.linkedin}}" class="btn btn-block btn-social btn-linkedin btn-sm">
                    <i class="fa fa-linkedin"></i> Sign in with Linkedin
                </a>
            </div>
        </div>
    </div>
</script>

<!-- Create account template -->
<script id="create-account-template" type="text/template">
    <div class="container">
        <div class="page-header">
            <h3>Create account</h3>
        </div>

        <div class="row">
            <div class="col-md-8">
                <form class="form-horizontal" id="create-account-form">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="create-account-name-input">Name</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" id="create-account-name-input" placeholder="Name" autocomplete="off" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="create-account-email-input">Email</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" id="create-account-email-input" type="email" placeholder="Email" autocomplete="off" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="create-account-password-input">Password</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" id="create-account-password-input" type="password" placeholder="Password" autocomplete="off" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="create-account-confirm-password-input">Confirm password</label>
                        <div class="col-sm-9">
                            <input class="form-control input-sm" id="create-account-confirm-password-input" type="password" placeholder="Confirm password" autocomplete="off" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button class="btn btn-primary btn-sm" type="submit" id="create-account-submit-button">Create account</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<!-- Javascripts -->
<script src="javascripts/main.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>